<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddTasks</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />


    <link rel="stylesheet" href="../CSS/shared-style.css">
    <link rel="stylesheet" href="../CSS/backlog-style.css">




</head>

<body onload="init();preloaderMaker()">



    <!-- OPEN_CLOSE_NAVBAR -->
    <div id="navbar-icon" onclick="openNavbar()">
        <span class="material-symbols-outlined">
            arrow_forward_ios
        </span>
    </div>
    <div class="nav-bar" id="nav-bar">
        <img id="nav-close-btn" src="../img/cancel.png" alt="" onclick="closeNavbar()">

        <h3 id="gr-name">Group Name</h3>
        <a href="./addTask.html">ADD_TASK</a>
        <a href="./backlog.html">BACKLOG</a>
        <a href="./board.html">BOARD</a>
        <a href="./trash.html">TRASH</a>
        <a href="./help.html">HELP</a>

        <button class="logout-button" onclick="logout()">LOGOUT</button>

    </div>

    <div class="title">
        <h2>Backlog</h2>
        <p>Learning Manegment System Project</p>
    </div>

    <div id="backlog-container">

        <div class="backlog-title">
            <div class="customBox">
                <h3>ASSIGEND TO</h3>
            </div>
            <div class="customBox">
                <h3>CATEGORY</h3>
            </div>
            <div class="customBox">
                <h3>DETAILS</h3>
            </div>
        </div>

        <div class="backlog-tasks" id="backlog-tasks">

        </div>

    </div>

    <!-- OVERLAYS -->
    <div class="pre-loader" id="pre-loader">
        <div class="pre-loader-content" id="pre-loader-content">
            LOADING
        </div>
    </div>
    <!-- Edit Overlay -->
    <div id="edit-overlay" class="display-none">
        <div class="edit-container">
            <div class="left-box">
                <!-- title -->
                <label for="title">TITLE</label>
                <input type="text" name="title" id="title">
                <!-- date -->
                <label for="date">DATE</label>
                <input type="date" name="date" id="date">
                <!-- discription -->
                <label for="description">DISCRIPTION</label>
                <textarea name="description" id="description" cols="30" rows="10"></textarea>

            </div>
            <div class="right-box">
                <!-- user -->
                <label for="assigento">ASSIGEND TO</label>
                <select name="assigento" id="assigento">
                    <option value="test">FirstUser</option>
                </select>
                <!-- urgency -->
                <label for="urgency">URGENCY</label>
                <select name="urgency" id="urgency">
                    <option value="3">HEIGHT</option>
                    <option value="2">MEDIUM</option>
                    <option value="1">LOW</option>
                </select>

                <!-- category -->
                <label for="category">CATEGORY</label>
                <select id="category" name="category">
                    <option value="test">First</option>
                </select>
                <!-- buttons -->
                <div class="update-buttons">
                    <button onclick="hideDiv('edit-overlay')">CANCEL</button>
                    <button onclick="saveEditedTask()">UPDATE</button>
                </div>


            </div>

        </div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-database.js"></script>
    <script src="../databaseFire.js"></script>
    <script src="../JS/shairedFunktion.js"></script>
    <script src="../JS/backlog.js" defer></script>
</body>

</html>